<ng-container *ngIf="(stage$|async) as stage">
  <div class="welcome">
    WELCOME
    <!--
    <ng-container *ngIf="stage.id===WELCOME_STAGE.TITLES">
      <styled-titles [shown]="showingContent[stage.id]" (done)="updateStage(0,$event)"></styled-titles>
    </ng-container>

    <ng-container *ngIf="stage.id===WELCOME_STAGE.INSTRUCTIONS">
      <styled-instructions [shown]="showingContent[stage.id]" (done)="updateStage(1,$event)"></styled-instructions>
    </ng-container>

    <ng-container *ngIf="stage.id===WELCOME_STAGE.CATEGORY">
      <styled-category-title [shown]="showingContent[stage.id]" (done)="updateStage(2,$event)" [title]="categoryTitle">
      </styled-category-title>
    </ng-container>
    -->
  </div>
</ng-container>